<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdZK_7S-Xb16xtxYLP_pkbM18DfgK5-Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>258609300741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.steelhead.steelheadai</string>
	<key>PROJECT_ID</key>
	<string>steelheadai</string>
	<key>STORAGE_BUCKET</key>
	<string>steelheadai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258609300741:ios:0c38728f0a6711d47a636c</string>
</dict>
</plist>